@keyframes paperclip-pulsate {
    0% {
        transform: scale(1) rotate(-3deg);
    }
    25% {
        transform: scale(1.2) rotate(0deg);
    }
    50% {
        transform: scale(1) rotate(3deg);
    }
    75% {
        transform: scale(1.2) rotate(0deg);
    }
    100% {
        transform: scale(1) rotate(-3deg);
    }
}

.paperclip {
    animation: paperclip-pulsate infinite 2s linear;
}

